footer {
  width: 100%;
  float: left;
  margin: 24px auto;

  .container {
    max-width: 960px;
    margin: 0 auto;
    border-top: 2px solid $red;
  }
  .about {
    float: left;
    width: 66.6666666667%;
    margin-right: 2.0833333333%;
    @media (max-width: $small) {
      width: 100%;
      margin: 0;
    }
  }
  .follow {
    float: right;
    margin-left: 2.0833333333%;
    width: 29.1666666667%;
    li {
      margin-bottom: 4px;
    }
    .facebook {
      position: relative;
      top: -1px;
    } 
    .googleplus {
      a {
        border: none;
      }
      img {
        border: none;
        width: 20px;
        height: 20px;
      }
    }
    @media (max-width: $small) {
      width: 100%;
      margin: 0;
      float: left;
      h1 {
        margin-top: 0;
      }
    }
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    margin: 1.5em 0;
  }
  h1 {
    font-size: 20px;
    line-height: 1.2;
    margin: 1.2em 0;
    font-style: italic;
    border-bottom: 1px solid #eee;
  }
}