html {
  font-family: $kepler;
  font-weight:300;
  font-size:62.5%;
  color:#333;
  padding:0 20px;
}

.wrap {
  max-width:1280px;
  margin:0 auto;
}

span.amp, abbr[title=and] {
  font-style:italic;
  font-family:"Baskerville", $garamond, serif;
  font-weight:normal;
}

h1.no-results {
  font-size:24px;
  line-height:1;
  margin:1em 0;
  border-bottom:1px solid #eee;
  float:left;
  margin:96px 0;
}

img {
  max-width:100% !important;
}

a {
  text-decoration:none;
  -webkit-transition:color 0.25s linear, border-color 0.25s linear;
  -moz-transition:color 0.25s linear, border-color 0.25s linear;
  -ms-transition:color 0.25s linear, border-color 0.25s linear;
  transition:color 0.25s linear, border-color 0.25s linear;
}

a:link, a:visited {
  color:$red;
  border-bottom:1px solid rgba(191,2,34,0);
}
a:hover, a:active {
  color:$red;
  border-bottom:1px solid rgba(191,2,34,1);
}

.regular h1 a:link, .regular h1 a:visited, .link h1 a:link, .link h1 a:visited {
  color:#000;
  border:none;
}
.regular h1 a:hover, .regular h1 a:active, .link h1 a:hover, .link h1 a:active  {
  color:$red;
  border:none;
}