.meta {
  width: 100%;
  max-width: 960px;
  font-size: 14px;
  line-height: 1.7142857143;
  margin: 0 auto;
  font-weight: 400;
  color: #999;
  .date {
    margin-left: 0;
    float: left;
  }
  .tags {
    float: left;
    clear: both;
  
    @media (min-width: $x-small) {
      clear: none;
      &:before {
        content: '•';
        margin: 0 2px 0 5px;
      }
    }
  }
  b {
    color:#000;
    font-weight:normal;
  }
  a[rel="tag"] {
    margin-right:3px;
    text-transform: lowercase;
  }
  a[rel="tag"]:before {
    content:"#";
    color:#999;
  }
  a:link, a:visited {
    color:#000;
    border-bottom:1px solid rgba(0,0,0,0);
  }
  a:hover, a:active {
    color:#000;
    border-bottom:1px solid rgba(0,0,0,1);
  }
}