@mixin retina-media-query($ratio, $dpi) {
  @media
  only screen and (-webkit-min-device-pixel-ratio: $ratio),
  only screen and (min-resolution: $dpi + dpi) {
    @content
  }
}

@mixin columns($count, $gap, $width) {
	-moz-column-count:$count;
  -moz-column-gap: $gap;
  -moz-column-width: $width;
  -webkit-column-count:$count;
  -webkit-column-gap: $gap;
  -webkit-column-width: $width;
  column-count: $count;
  column-gap: $gap;
  column-width: $width;
}