.more-photos {
	display: none;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;

	h2 {
		font-size: 20px;
    line-height: 1.2;
    margin: 1.2em 0;
    font-style: italic;
    border-bottom: 1px solid #eee;
	}

	.photos {
		@include columns(2, 3%, 47%);

		@media (min-width: $small) {
    	@include columns(3, 3%, 30%);
    }

		@media (min-width: $medium) {
    	@include columns(4, 3%, 22%);
    }

	}

	.photo {
		margin-bottom: 10px;
		position: relative;

		.caption {
			box-shadow: inset 0 0 50px rgba(0,0,0,1);
			display: block;
			background: rgba(0,0,0,0.75);
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: 1;
			position: absolute;
			overflow: hidden;

			p {
				color:#eee;
				font-size: 14px;
				line-height: 1.25;
				position: absolute;
				bottom: 0;
				left: 0;
				padding: 10px;
			}
		}

		a {
			display: block;

			&:link, &:visited, &:hover, &:active {
				border: none;
			}

			&:hover .caption { opacity: 1; }
		}

	}
}