nav.pagination {
  width:100%;
  float: left;
  p {
    font-size: 24px;
    margin: 1em auto;
    line-height: 1.5;
    max-width: 960px;
    text-align: center;
    span {
      color: #666;
    }
    a {
      margin: 0 10px; 
    }
    @media (max-width: $x-small) {
      font-size: 16px;
      margin: 1.5em 0;
      line-height: 1.5;
    }
  }
  a:link, a:visited {
    color:#000;
    border:none;
  }

  a:hover, a:active {
    color:$red;
    border:none;
  }
}