.share {
  display: block;
  margin: -5px 0 0 0;
  list-style-type: none;
  display: none;

  li {
    display: inline;
    float: left;
    margin: 0 10px 0 0;

    a { border: none !important; }
  }
  .reblog, .like {
    @include border-radius(2px);
    @include background-image(linear-gradient(#fefefe, #dedede));
    border: 1px solid #cfcfcf;
    height: 18px;
    padding: 0 4px;

    &:hover {
      @include background-image(linear-gradient(#f7f7f7, #d8d8d8));
    }

    a { border: none; }
  }
  @media (min-width: $small) {
    display: block;
  }
  @media (min-width: $medium) {
    float: left;
    width: 100%;
    margin-top: 4px;
  }
  @media (min-width: $large) {
    width: auto;
    float: right;
  }
}